a {
    color: white;
}

@media (min-width: 992px) {
    .content {
        margin-top: 3rem;
    }
    span {
        font-size: 3rem;
    }
    .social-icons {
        padding-top: 1rem;
    }
}

@media (max-width: 778px) {
     .content {
        margin-top: 2rem;
    }
    span {
        font-size: 1.75rem;
    }
    .social-icons {
        padding-top: 1rem;
    }
}
