body {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
}


.main {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  .main span {
    font-size: 2rem;
    text-align: center;
}

.about {
    text-align: center;
}

.bookshelf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book {
  display: flex;
  flex-direction: row;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 40%;
}

.navitem {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}


@media (min-width: 992px) {
  .main {
    padding-top: 4rem;
  }

  .book__cover {

  }

  .book__image {
    flex-shrink: 0;
    float: left;
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
  }

}

@media (max-width: 768px) {
  body {
      max-width: 80%;
      background-position: center;
      background-size: cover;
      background-color: black;
  }
  .main {
    padding-top: 4rem;
  }
  .navbar {
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
  }
  .navitem {
    padding: 1rem;
    font-size: 1.25rem;
    text-align: center;
  }
  .book__image {
    flex-shrink: 0;
    float: left;
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
  }
}
