body {
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    background-image: url('/images/background.jpg');
    height: 100%;
    align-items:center;
    text-align: center;
    color: white;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.navitem {
    text-align: center;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.content {
  margin-bottom: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: auto;
  padding: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}


.navitem {
  padding: 1rem;
}
.content{
  justify-content: center;
  align-items:center;
  text-align: center;
}

@media (min-width: 992px) {
  .navitem {
    font-size: 2.5rem;
  }
}

@media (max-width: 778px) {
  body {
    font-size: 1.25rem;
  }
  .navitem {
    font-size: 1.5rem;
  }
}
