body {
    padding-top: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Roboto Slab', serif;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}



.main {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main span {
    padding-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

.about {
    padding-bottom: 2rem;
    text-align: center;
}

.navbar {
    padding-top: 5rem;
}

.navitem {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}


@media (max-width: 768px) {
  body {
    padding-top: 5rem;
    background-image: url('/images/background.jpg');
    background-position: center;
    background-size: cover;
    background-color: black;
  }
  .navbar {
    padding-top: 12rem;
    margin-bottom: 2rem;
  }
}
